# Puertos de la aplicación
FRONTEND_PORT=5173
BACKEND_PORT=3000

# Base de datos PostgreSQL
DB_HOST=dbhohst
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=dbname

# Redis (opcional)
REDIS_PORT=6379
REDIS_HOST=redis

# pgAdmin (opcional)
PGADMIN_PORT=8080
PGADMIN_EMAIL=nrivassag99@gmail.com
PGADMIN_PASSWORD=admin

# Configuración de la aplicación
NODE_ENV=development
API_PREFIX=api/v1

# CORS Origins (separados por comas)
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# Rate Limiting
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=100